<%- include('partials/header.ejs') %>

<div class="assignment-details">
    <h2>Part 2: Backend Technology Assignment</h2>
    <p> Backend technology used: <strong> Node.js</strong>.</p>
    
    <h3>Admin Features:</h3>
    <ul>
        <li>
            <strong>Credentials:</strong> IUse the admin credentials provided during setup. If there are no credentials, register an admin account using the registration page and the provided role.
        </li>
        <li>
            <strong>Features : </strong>
            <ul>
                <li>Admin login functionality.</li>
                <li>Dashboard to view, create, update, and delete car records.</li>
                <li>Displays basic statistics like the total number of cars.</li>
        </ul>
        </li>
        
    </ul>

    <h3>User Interface</h3>
    <ul>
        <li>
            <strong>Credentials</strong><em> Use the user credentials provided during setup. If there are no credentials, register a user account using the registration page.</em>
        </li>
        <li>
                <strong>Features : </strong>
                <ul>
                    <li>User login functionality.</li>
                    <li>View the list of cars created by the admin.</li>
            </ul>
            </li>
    </ul>


    <h2>How to Register and Login</h2>
    <ul>

        <li>
        <h4>Admin Registration and Login</h4> 
        
        <ol>
                <li>Register Admin

                        <ul>
                                <li>
                                        Navigate to Admin Register 
                                </li>
                                <li>
                                        Fill in the registration form with a username and password. 
                                </li><li>
                                        Submit the form. If the username already exists, a message will alert you on the another window.
                                </li>
                        </ul>
                </li>
                <li>Login as Admin:

                        <ul>
                                <li>
                                        Navigate to Admin Login 
                                </li>
                                <li>
                                        Fill in the Login form with a username and password. 
                                </li><li>
                                        Submit the form. Submit the form. Upon successful login, you will be redirected to the admin dashboard.
                                </li>
                        </ul>
                </li>
               
        </ol>
</li>
<li><h4>Admin Registration and Login</h4> 
        <ol>
         <li>Register User
 
                 <ul>
                         <li>
                                 Navigate to User Register 
                         </li>
                         <li>
                                 Fill in the registration form with a username and password. 
                         </li><li>
                                 Submit the form. If the username already exists, a message will alert you on the another window.
                         </li>
                 </ul>
         </li>
         <li>Login as User:
 
                 <ul>
                         <li>
                                 Navigate to User Login 
                         </li>
                         <li>
                                 Fill in the Login form with a username and password. 
                         </li><li>
                                 Submit the form. Upon successful login, you will be redirected to the user interface where you can view the list of cars.                        </li>
                 </ul>
         </li>
 
         </ol>
         </li>
         
     </ul></li>
        
</div>

<%- include('partials/footer.ejs') %>
